**TASK: CREDIT CARD FRAUD DETECTION**

Author: **Rishi Nagar**

Batch: **November BATCH P15**

Domain: **Data Science**

**Aim:** To create a model in order to identify fraudulent credit card transactions.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_excel("creditcardfruad.xlsx")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [2]:
cd"C:\Users\RISHI NAGAR\Desktop\LOgo"

C:\Users\RISHI NAGAR\Desktop\LOgo

In [4]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
df.shape

(284807, 31)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  int64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(29), int64(2)
memory usage: 67.4 MB

In [8]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This shows that the data is highly unbalanced where,

0 indicates as Normal Transaction, and

1 indicates as Fraudulent Transaction.

In [10]:
#Separation of Data for Analysis
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [11]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [12]:
#Analysis of the Data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [14]:
#Comparison of both transaction values
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Building a sample dataset in order to contain a similar distribution of normal transactions and fraudulent transactions

There were 492 fraudulent transactions

In [15]:
legit_sample = legit.sample(n = 492)

In [16]:
#Concatinate two dataframes
new_df = pd.concat([legit_sample, fraud], axis = 0)

In [17]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
59818,49019,0.788211,-0.446579,0.181451,1.557760,-0.385516,-0.129435,0.296210,-0.041292,0.337930,...,0.010982,-0.195603,-0.228480,0.079509,0.575674,-0.331452,0.000187,0.048816,203.00,0
208199,137013,-4.724623,-5.878848,2.904234,0.984374,3.735133,-1.738463,-3.527770,0.960641,1.775344,...,0.589713,0.222302,0.995208,0.531998,0.778170,0.847615,-0.190859,0.187428,200.00,0
160004,113074,-2.897075,0.560875,1.222327,-2.488293,-0.122931,-0.459958,-0.688084,-3.394100,1.258785,...,3.006373,-0.647201,-0.561121,0.040814,0.570886,0.663351,0.048656,0.004877,113.00,0
19648,30432,-1.918760,-0.283115,0.850666,1.592862,-0.196683,-0.637187,1.017251,0.236538,-1.019182,...,0.313605,0.133863,0.236244,0.405744,0.764906,-0.113444,-0.119999,-0.120795,270.34,0
284422,172430,-1.155379,-0.643416,2.411331,-3.348003,-0.821921,0.156508,-0.609388,0.505896,-0.007758,...,-0.126995,-0.008614,-0.155643,0.744098,0.331696,0.586508,0.222975,0.120594,50.00,0

In [18]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [19]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [20]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,98135.398374,-0.033437,-0.061046,-0.055522,-0.081096,-0.007066,-0.116367,0.010614,-0.092632,0.048478,...,-0.025466,-0.054603,0.006077,-0.015411,0.01048,0.037090,-0.000768,0.002253,-0.048581,91.386524
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
#Splitting data into features and targets
X = new_df.drop(columns = 'Class', axis = 1)
Y = new_df['Class']

In [22]:
print(X)

          Time        V1        V2        V3        V4        V5        V6  \
59818    49019  0.788211 -0.446579  0.181451  1.557760 -0.385516 -0.129435
208199  137013 -4.724623 -5.878848  2.904234  0.984374  3.735133 -1.738463
160004  113074 -2.897075  0.560875  1.222327 -2.488293 -0.122931 -0.459958
19648    30432 -1.918760 -0.283115  0.850666  1.592862 -0.196683 -0.637187
284422  172430 -1.155379 -0.643416  2.411331 -3.348003 -0.821921  0.156508
...        ...       ...       ...       ...       ...       ...       ...
279863  169142 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
59818   0.296210 -0.041292  0.337930  ...  0.175924  0.010982 -0.195603
208199 -3.527770  0.960641  1.775344  ...  1.779103  0.589713  0.222302
160004 -0.688084 -3.394100  1.258785  ... -1.646965  3.006373 -0.647201
19648   1.017251  0.236538 -1.019182  ...  0.832619  0.313605  0.133863
284422 -0.609388  0.505896 -0.007758  ... -0.278690 -0.126995 -0.008614
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
59818  -0.228480  0.079509  0.575674 -0.331452  0.000187  0.048816  203.00
208199  0.995208  0.531998  0.778170  0.847615 -0.190859  0.187428  200.00
160004 -0.561121  0.040814  0.570886  0.663351  0.048656  0.004877  113.00
19648   0.236244  0.405744  0.764906 -0.113444 -0.119999 -0.120795  270.34
284422 -0.155643  0.744098  0.331696  0.586508  0.222975  0.120594   50.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [23]:
print(Y)

59818     0
208199    0
160004    0
19648     0
284422    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [24]:
#Split data into Training data and testing data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)
#print("Training Data: ", X_train,"\nTesting Data: ", X_test)
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [25]:
#Training Model
model = LogisticRegression()

In [26]:
#training the logistic regression model with training data
model.fit(X_train, Y_train)

LogisticRegression()

In [28]:
#Evaluation of the Model
#Accuracy Score on training data
X_train_prediction = model.predict(X_train)
training_accuracy = accuracy_score(X_train_prediction, Y_train)

In [29]:
print("Accuracy of the trained data:", training_accuracy)

Accuracy of the trained data: 0.9250317662007624

In [30]:
#Accuracy of test data
X_test_predction = model.predict(X_test)
test_accuracy = accuracy_score(X_test_predction, Y_test)

In [31]:
print("Accuracy of the test data:", test_accuracy)

Accuracy of the test data: 0.9086294416243654

# The Accuracy of the test data is 0.908